---
title: Sign in
handle: sign_in
position: 2
---
{% extends 'layouts/default' %}

{% block content %}
  <form action="{% path_to 'sign_in' %}" method="POST">
    <input type="hidden" name="auth_action" value="sign_in" />
    <input type="hidden" name="auth_content_type" value="accounts" />
    <input type="hidden" name="auth_id_field" value="email" />
    <input type="hidden" name="auth_password_field" value="password" />
    <input type="hidden" name="auth_callback" value="{% path_to account %}" />
    
    {% if auth_wrong_credentials %}Wrong credentials!{% endif %}
    
    <label class="s-label" for="auth-email">Your E-mail</label>
    <input type="email" class="s-input" id="auth-email" placeholder="Email" name="auth_id" value="{{ params.auth_id }}">
    
    <label class="s-label" for="auth-password">Password</label>
    <input type="password" class="s-input" id="auth-password" placeholder="Password" name="auth_password" value="">
            
    <button class="s-button" type="submit">Sign in</button>
  </form>
{% endblock %}